.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div.foreground {
  width: 100%;
}

div.open-button {
  padding: 5px;
  height: 100vh; 
  display: flex; 
  justify-content: flex-start;
  background-color: #ffffff;
}

img.open-button {
  height: 25px; 
  width: 25px; 
  transform: rotate(180deg);
}

div.close-button {
  padding: 5px; 
  display: flex; 
  justify-content: flex-end
}

img.close-button {
  height: 25px; 
  width: 25px;
}

img.sort-button-asc {
  height: 8px; 
  width: 8px;
  padding: 5px;
  vertical-align: sub;
  transform: rotate(180deg);
}

img.sort-button-desc {
  height: 8px; 
  width: 8px;
  padding: 5px;
  vertical-align: sub;
}

img.sort-button-default {
  height: 8px; 
  width: 8px;
  padding: 5px;
  vertical-align: sub;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
